html, body {
    height: 100%;
    overflow: hidden;
}

.username {
    border: .125rem solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    color: #333;
    text-align: center;
    max-width: 300px;
    width: 100%;
}


.logo-beta {
    background: url(../img/transparent-beta.png) no-repeat;
    display: inline-block;
}

.vertical-positioning-wrapper {
    min-height: 100vh;
    /* -webkit-transform: translateY(40%); */
    -ms-transform: translateY(40%);
    transform: translateY(40%);
}

.vertical-positioning-wrapper .vertical-positioning-40 {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.pin-button{
    width:100%;
    max-width: 300px;
    height: 50px;
    font-size: 20px;
}